.box{
    /* display: flex; */
    display: inline-block;
    width: 100px;
    height: 100px;
    background:red;
    border-radius: 50%;
    animation-name: change-bg-color;
    animation-duration: 10s;
    /* animation-delay: 3s; */
    animation-iteration-count:infinite;
    position: relative;
    
}
@keyframes change-bg-color{
    /* from{
background: red;
    }
    to{
background: rgb(68, 0, 255);
    } */
0%{
top: 0;
left: 0;
background: rgb(96, 145, 0);
}
25%{
    top: 0;
    left: 300px;
    background: greenyellow;
}
50%{
    left: 300px;
   top: 300px;
   background: hotpink;


}
75%{
    left: 0;
    top: 300px;
    background: blue;
}
100%{
    left: 0;
    top: 0;
    background: seashell;
}
}